--
-- PostgreSQL database dump
--

\restrict 6DdSdMjhOuzHLPimhOlqiYGkyxEE6edoODlnv3qllkzEeCpLgdcgmFP8vYartMF

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg12+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."StageAutomation" DROP CONSTRAINT IF EXISTS "StageAutomation_tagId_fkey";
ALTER TABLE IF EXISTS ONLY public."StageAutomation" DROP CONSTRAINT IF EXISTS "StageAutomation_stageId_fkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_conversationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Deal" DROP CONSTRAINT IF EXISTS "Deal_stageId_fkey";
ALTER TABLE IF EXISTS ONLY public."Deal" DROP CONSTRAINT IF EXISTS "Deal_contactId_fkey";
ALTER TABLE IF EXISTS ONLY public."DealTag" DROP CONSTRAINT IF EXISTS "DealTag_tagId_fkey";
ALTER TABLE IF EXISTS ONLY public."DealTag" DROP CONSTRAINT IF EXISTS "DealTag_dealId_fkey";
ALTER TABLE IF EXISTS ONLY public."Conversation" DROP CONSTRAINT IF EXISTS "Conversation_contactId_fkey";
ALTER TABLE IF EXISTS ONLY public."Appointment" DROP CONSTRAINT IF EXISTS "Appointment_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Appointment" DROP CONSTRAINT IF EXISTS "Appointment_contactId_fkey";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."Tag_name_key";
DROP INDEX IF EXISTS public."DealTag_dealId_tagId_key";
DROP INDEX IF EXISTS public."Contact_phone_key";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."Template" DROP CONSTRAINT IF EXISTS "Template_pkey";
ALTER TABLE IF EXISTS ONLY public."Tag" DROP CONSTRAINT IF EXISTS "Tag_pkey";
ALTER TABLE IF EXISTS ONLY public."SystemSettings" DROP CONSTRAINT IF EXISTS "SystemSettings_pkey";
ALTER TABLE IF EXISTS ONLY public."StageAutomation" DROP CONSTRAINT IF EXISTS "StageAutomation_pkey";
ALTER TABLE IF EXISTS ONLY public."PipelineStage" DROP CONSTRAINT IF EXISTS "PipelineStage_pkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_pkey";
ALTER TABLE IF EXISTS ONLY public."Document" DROP CONSTRAINT IF EXISTS "Document_pkey";
ALTER TABLE IF EXISTS ONLY public."Deal" DROP CONSTRAINT IF EXISTS "Deal_pkey";
ALTER TABLE IF EXISTS ONLY public."DealTag" DROP CONSTRAINT IF EXISTS "DealTag_pkey";
ALTER TABLE IF EXISTS ONLY public."Conversation" DROP CONSTRAINT IF EXISTS "Conversation_pkey";
ALTER TABLE IF EXISTS ONLY public."Contact" DROP CONSTRAINT IF EXISTS "Contact_pkey";
ALTER TABLE IF EXISTS ONLY public."Appointment" DROP CONSTRAINT IF EXISTS "Appointment_pkey";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."Template";
DROP TABLE IF EXISTS public."Tag";
DROP TABLE IF EXISTS public."SystemSettings";
DROP TABLE IF EXISTS public."StageAutomation";
DROP TABLE IF EXISTS public."PipelineStage";
DROP TABLE IF EXISTS public."Message";
DROP TABLE IF EXISTS public."Document";
DROP TABLE IF EXISTS public."DealTag";
DROP TABLE IF EXISTS public."Deal";
DROP TABLE IF EXISTS public."Conversation";
DROP TABLE IF EXISTS public."Contact";
DROP TABLE IF EXISTS public."Appointment";
DROP TYPE IF EXISTS public."Role";
DROP EXTENSION IF EXISTS vector;
--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'AGENT'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Appointment" (
    id text NOT NULL,
    title text NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'scheduled'::text NOT NULL,
    notes text,
    "contactId" text,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contact" (
    id text NOT NULL,
    phone text NOT NULL,
    name text,
    email text,
    tags text[],
    status text DEFAULT 'lead'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    company text,
    "lastName" text,
    role text
);


--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Conversation" (
    id text NOT NULL,
    "contactId" text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isFavorite" boolean DEFAULT false NOT NULL,
    "isGroup" boolean DEFAULT false NOT NULL,
    "isMuted" boolean DEFAULT false NOT NULL
);


--
-- Name: Deal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Deal" (
    id text NOT NULL,
    title text NOT NULL,
    value double precision DEFAULT 0 NOT NULL,
    "contactId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "assignedTo" text,
    notes text,
    priority text DEFAULT 'medium'::text NOT NULL,
    source text DEFAULT 'whatsapp'::text NOT NULL,
    "stageId" text NOT NULL
);


--
-- Name: DealTag; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."DealTag" (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "tagId" text NOT NULL
);


--
-- Name: Document; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Document" (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    embedding public.vector(1536),
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    content text NOT NULL,
    type text DEFAULT 'text'::text NOT NULL,
    direction text NOT NULL,
    status text DEFAULT 'sent'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "mediaFileName" text,
    "mediaType" text,
    "mediaUrl" text
);


--
-- Name: PipelineStage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PipelineStage" (
    id text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#64748B'::text NOT NULL,
    "order" integer NOT NULL,
    "isIncoming" boolean DEFAULT false NOT NULL,
    "isClosedWon" boolean DEFAULT false NOT NULL,
    "isClosedLost" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: StageAutomation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."StageAutomation" (
    id text NOT NULL,
    "stageId" text NOT NULL,
    trigger text DEFAULT 'on_enter'::text NOT NULL,
    action text NOT NULL,
    "tagId" text NOT NULL,
    "applyAll" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: SystemSettings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SystemSettings" (
    id text NOT NULL,
    "openaiApiKey" text,
    "geminiApiKey" text,
    "ycloudApiKey" text,
    "ycloudPhoneId" text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isBotEnabled" boolean DEFAULT false NOT NULL,
    "n8nWebhookUrl" text
);


--
-- Name: Tag; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Tag" (
    id text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#64748B'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Template; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Template" (
    id text NOT NULL,
    name text NOT NULL,
    content text NOT NULL,
    category text,
    language text DEFAULT 'es'::text NOT NULL,
    status text DEFAULT 'approved'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    password text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Appointment" (id, title, "startTime", "endTime", status, notes, "contactId", "userId", "createdAt", "updatedAt") FROM stdin;
cmlncaiue000370vv2tlldw6x	Reuni├│n con Joel Venegas	2026-02-16 15:00:00	2026-02-16 15:30:00	scheduled		cmlhlafhd0004lgvvjfwxftlx	\N	2026-02-15 06:03:27.589	2026-02-16 06:46:19.426
\.


--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Contact" (id, phone, name, email, tags, status, "createdAt", "updatedAt", company, "lastName", role) FROM stdin;
cmlfpfscy0000i4vvifc9wjcp	524772683928	Joel Venegas	\N	\N	active	2026-02-09 21:49:18.787	2026-02-09 21:49:18.787	\N	\N	\N
cmlhlafhd0004lgvvjfwxftlx	524794559238	Joel Venegas		\N	lead	2026-02-11 05:28:42.721	2026-02-15 04:52:50.639		\N	
cmlin3sit0002qsvv955o22nk	524771737217	Alan		\N	lead	2026-02-11 23:07:18.437	2026-02-15 04:13:50.886		\N	\N
\.


--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Conversation" (id, "contactId", status, "createdAt", "updatedAt", "isFavorite", "isGroup", "isMuted") FROM stdin;
cmlin3sj20003qsvvvin0xfa5	cmlin3sit0002qsvv955o22nk	active	2026-02-11 23:07:18.445	2026-02-11 23:07:18.453	f	f	f
cmlhlafik0005lgvv01htwg74	cmlhlafhd0004lgvvjfwxftlx	active	2026-02-11 05:28:42.764	2026-02-15 04:57:48.793	f	f	f
conv-joel-1	cmlfpfscy0000i4vvifc9wjcp	active	2026-02-09 21:49:18.84	2026-02-15 07:25:42.524	f	f	f
\.


--
-- Data for Name: Deal; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: DealTag; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."DealTag" (id, "dealId", "tagId") FROM stdin;
\.


--
-- Data for Name: Document; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Document" (id, title, content, embedding, "createdAt", "updatedAt") FROM stdin;
cmlne5xj7000470vvxpkl2jm9	Prompt Maestro de AntiGravity.pdf	Mock content for Prompt Maestro de AntiGravity.pdf	\N	2026-02-15 06:55:52.579	2026-02-15 06:55:52.579
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PipelineStage; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: StageAutomation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."StageAutomation" (id, "stageId", trigger, action, "tagId", "applyAll", "createdAt") FROM stdin;
\.


--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."SystemSettings" (id, "openaiApiKey", "geminiApiKey", "ycloudApiKey", "ycloudPhoneId", "updatedAt", "isBotEnabled", "n8nWebhookUrl") FROM stdin;
default	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	AIzaSyBff9vkGbUC8HNr_gX14TH75GPvprKJoZ8	b5df62fc3757e5f7ab51166591c6645c	+524771075025	2026-02-15 07:19:49.233	t	https://n8nla.logicapp.net/webhook/dental
\.


--
-- Data for Name: Tag; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Tag" (id, name, color, "createdAt") FROM stdin;
cmliorq500000b4vvm824lff6	logo	#2563EB	2026-02-11 23:53:54.708
cmliorzk10002b4vvgsrrj1xv	pasarela	#0891B2	2026-02-11 23:54:06.913
cmln89hy600090gvvoverobxz	logos	#2563EB	2026-02-15 04:10:41.31
\.


--
-- Data for Name: Template; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Template" (id, name, content, category, language, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."User" (id, email, name, password, role, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY (id);


--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: DealTag DealTag_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DealTag"
    ADD CONSTRAINT "DealTag_pkey" PRIMARY KEY (id);


--
-- Name: Deal Deal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Deal"
    ADD CONSTRAINT "Deal_pkey" PRIMARY KEY (id);


--
-- Name: Document Document_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: PipelineStage PipelineStage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PipelineStage"
    ADD CONSTRAINT "PipelineStage_pkey" PRIMARY KEY (id);


--
-- Name: StageAutomation StageAutomation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StageAutomation"
    ADD CONSTRAINT "StageAutomation_pkey" PRIMARY KEY (id);


--
-- Name: SystemSettings SystemSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SystemSettings"
    ADD CONSTRAINT "SystemSettings_pkey" PRIMARY KEY (id);


--
-- Name: Tag Tag_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Tag"
    ADD CONSTRAINT "Tag_pkey" PRIMARY KEY (id);


--
-- Name: Template Template_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Template"
    ADD CONSTRAINT "Template_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Contact_phone_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Contact_phone_key" ON public."Contact" USING btree (phone);


--
-- Name: DealTag_dealId_tagId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "DealTag_dealId_tagId_key" ON public."DealTag" USING btree ("dealId", "tagId");


--
-- Name: Tag_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Tag_name_key" ON public."Tag" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Appointment Appointment_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Appointment Appointment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Conversation Conversation_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DealTag DealTag_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DealTag"
    ADD CONSTRAINT "DealTag_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public."Deal"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DealTag DealTag_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."DealTag"
    ADD CONSTRAINT "DealTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Deal Deal_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Deal"
    ADD CONSTRAINT "Deal_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Deal Deal_stageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Deal"
    ADD CONSTRAINT "Deal_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES public."PipelineStage"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StageAutomation StageAutomation_stageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StageAutomation"
    ADD CONSTRAINT "StageAutomation_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES public."PipelineStage"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StageAutomation StageAutomation_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StageAutomation"
    ADD CONSTRAINT "StageAutomation_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6DdSdMjhOuzHLPimhOlqiYGkyxEE6edoODlnv3qllkzEeCpLgdcgmFP8vYartMF

